body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.hugespacer {
  height: 50px;
}
.bigspacer {
  height: 20px;
}
.spacer {
  height: 10px;
}
.smallspacer {
  height: 5px;
}

.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.projectbox {
    position: relative;
    width: 100%;
    height: 350px;
    min-height: 1px;
    display: block;
}
.databox {
    position: relative;
    width: 100%;
    height: 200px;
    min-height: 1px;
    display: block;
}
.projectmediabox {
    position: relative;
    width: 30%;
    min-height: 1px;
    padding-right: 10%;
}
.datamediabox {
    position: relative;
    width: 15%;
    min-height: 1px;
    padding-right: 10%;
}
.projecttextbox {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-left: 10%;
}
.projectmedia {
  display: block;
}
