<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="bigspacer">
			</div>
			<nav>
			<logo>
				<image width=100 src="ucla.jpg">
				<li><a href="/">LUO LAB</a></li>
			</logo>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/people">People</a></li>
				<li><a href="/research">Research</a></li>
	        		<li><a href="/publications">Papers</a></li>
	        		<li><a href="/technologies">Methods</a></li>
				<li><a href="/data">Data</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:luogenomics@gmail.com">Email Luo lab @ UCLA (Starting September 2019) - luogenomics@gmail.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
