<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="keywords" content="Luo Lab, Chongyuan Luo, genetics, genomics, methylation, methylome" />
		</head>
		<body>
			<div class="bigspacer">
			</div>
			<nav>
			<logo>
				<a href="/">
					<image width=500 src="/lablogo.png">
				</a>
			</logo>
			 
			<div class="bigspacer">
			</div>	    		
			<ul>
				
				<li><a style="color:#666" href="/people">People</a></li>
				<li><a style="color:#666" href="/research">Research</a></li>
	        		<li><a style="color:#666" href="/publications">Papers</a></li>
	        		<li><a style="color:#666" href="/technologies">Methods</a></li>
				<li><a style="color:#666" href="/data">Data</a></li>
				<li><a style="color:#666" href="/contact">Contact</a></li>
	    		</ul>
			<div class="spacer">
			</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email Luo lab - <a href="mailto:cluo@mednet.ucla.edu">cluo@mednet.ucla.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>
